* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.header__top {
  position: relative;
  width: 100%;
}
.header__background {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  height: 160px;
}
.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
.header__logo-link {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
  display: inline-block;
}
.header__logo-link img {
  height: 120px;
}
.header__nav {
  background-color: #ffb628;
}
.header__nav > ul {
  max-width: 991px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  text-align: center;
  padding: 10px 15px;
}
.header__nav > ul > li > a {
  text-transform: uppercase;
  position: relative;
  display: inline;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav > ul > li > a:hover {
  color: white;
}
.header__nav > ul > li > a.active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: radial-gradient(circle, black 0%, rgba(0, 0, 0, 0.9) 40%, rgba(0, 0, 0, 0.6) 70%, transparent 100%);
  border-radius: 100%;
  pointer-events: none;
  z-index: 1;
}
.header__nav > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 1px;
  background-color: currentColor;
}
.header__nav > ul > li ul {
  display: none;
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  min-width: 180px;
  background-color: #ffb628;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.header__nav > ul > li li {
  position: relative;
  text-align: left;
}
.header__nav > ul > li li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.header__nav > ul > li li a {
  display: block;
  padding: 10px 15px;
}
.header__nav > ul > li li a:hover {
  background-color: black;
  color: #ffb628;
}
.header__nav > ul > li li ul {
  top: 0;
  left: calc(100% + 4px);
}
.header__nav > ul > li li::before {
  top: 0;
  left: 100%;
  width: 6px;
  height: 100%;
}
.header__nav > ul li:hover > ul {
  display: block;
}
.header__nav > ul li::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 6px;
  width: 100%;
  background: transparent;
}